In [4]:
import pandas as pd

df = pd.read_csv("experimentResults/preliminary_experiment_PLAIN_2.csv")


df.head()

  Behaviour  Round  total100  total90  total75  total50
0  FRONTIER      0       282      281      252      212
1  FRONTIER      1       292      291      249      201
2  FRONTIER      2       305      304      251      211
3  FRONTIER      3       309      308      266      224
4  FRONTIER      4       281      280      246      206